---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - name: treefmt
        run: nix develop --command treefmt --fail-on-change

  flake-check:
    name: Flake Check
    needs:
      - formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - name: flake check
        run: nix flake check
